* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.bullet1 {
	position: absolute;
  left: 230px;
  top: 324px;
  width: 43px;
  height: 43px;
	z-index: 10;
	display: none;
}

.bullet2 {
	position: absolute;
  left: 368px;
  top: 324px;
  width: 43px;
  height: 43px;
	z-index: 10;
	display: none;
}

.bullet3 {
	position: absolute;
  left: 505px;
  top: 324px;
  width: 43px;
  height: 43px;
	z-index: 10;
	display: none;
}

.bullet4 {
	position: absolute;
  left: 643px;
  top: 324px;
  width: 43px;
  height: 43px;
	z-index: 10;
	display: none;
}

.bullet5 {
	position: absolute;
  left: 781px;
  top: 324px;
  width: 43px;
  height: 43px;
	z-index: 10;
	display: none;
}