*{
  margin: 0px;
  padding: 0px;
}

.s1_bg {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_1 {
  position: absolute;
  left: 578px;
  top: 560px;
  width: 343px;
  height: 204px;
  z-index: 2;
  animation: slideInDown 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.s1_2 {
  position: absolute;
  left: 662px;
  top: 526px;
  width: 369px;
  height: 146px;
  z-index: 3;
  animation: slideInDown 1.6s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.s1_3 {
  position: absolute;
  left: 296px;
  top: 546px;
  width: 344px;
  height: 201px;
  z-index: 4;
  animation: slideInDown 1.9s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.s1_4 {
  position: absolute;
  left: 457px;
  top: 623px;
  width: 378px;
  height: 121px;
  animation: slideInDown 1.5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  z-index: 5;
}

.s1_5 {
  position: absolute;
  left: 651px;
  top: 511px;
  width: 361px;
  height: 167px;
  animation: slideInDown 1s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
  z-index: 6;
}

.s1_6 {
  position: absolute;
  left: 302px;
  top: 599px;
  width: 373px;
  height: 138px;
  z-index: 7;
  animation: slideInDown 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.s1_7 {
  position: absolute;
  left: 258px;
  top: 579px;
  width: 388px;
  height: 116px;
  z-index: 8;
  animation: slideInDown 1.4s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.s1_8 {
  position: absolute;
  left: 616px;
  top: 614px;
  width: 388px;
  height: 117px;
  z-index: 9;
  animation: slideInDown 1.3s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.s1_9 {
  position: absolute;
  left: 185px;
  top: 678px;
  width: 390px;
  height: 62px;
  z-index: 10;
  animation: slideInDown 1.4s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.s1_10 {
  position: absolute;
  left: 575px;
  top: 520px;
  width: 365px;
  height: 158px;
  z-index: 11;
  animation: slideInDown 1.8s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.s1_11 {
  position: absolute;
  left: 561px;
  top: 618px;
  width: 378px;
  height: 121px;
  z-index: 12;
  animation: slideInDown 1.6s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

.s1_12 {
  position: absolute;
  left: 414px;
  top: 631px;
  width: 379px;
  height: 116px;
  z-index: 13;
  animation: slideInDown 1.5s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.s1_13 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 205px;
  height: 343px;
  z-index: 14;
  animation: slideInDown 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.s1_13_wrap {
  position: absolute;
  left: 687px;
  top: 413px;
  width: 205px;
  height: 343px;
  z-index: 14;
  animation: pulse 1s infinite;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.s1_13_click {
  position: absolute;
  left: 687px;
  top: 413px;
  width: 205px;
  height: 343px;
  display: none;
  z-index: 18;
}

.s1_13_wrap_right {
  position: absolute;
  width: 62px;
  height: 389px;
  z-index: 14;
  animation: slideRightBig2 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.s1_14_drag_Out {
  animation: slideLeft 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
}

.s1_14_wrap {
  position: absolute;
  left: 0px;
  top: 472px;
  width: 452px;
  height: 296px;
  z-index: 15;
}

.s1_14 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 452px;
  height: 296px;
  z-index: 15;
  animation: slideInLeft 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.s1_14_wrap_right {
  position: absolute;
  width: 62px;
  height: 389px;
  z-index: 14;
  animation: slideRightBig1 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.s1_15 {
  position: absolute;
  left: 55px;
  top: 249px;
  width: 475px;
  height: 168px;
  z-index: 15;
  animation: fadeInDown 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  display: none;
}

@keyframes slideRight {
  from {
    opacity: 1;
	left: 794px;
	top: 190px;
  }

  to {
    opacity: 1;
	left: 410px;
	top: 270px;
	transform: rotate3d(0, 0, 1, -100deg);
  }
}


@keyframes slideLeft {
  from {
    opacity: 1;
	left: 0px;
	top: 472px;
  }

  to {
    opacity: 1;
	top: 472px;
	left: 270px;
  }
}

@keyframes slideRightBig2 {
  from {
    opacity: 1;
	left: 0px;
  }

  to {
    opacity: 1;
	left: -900px;
  }
}

@keyframes slideRightBig1 {
  from {
    opacity: 1;
	left: 0px;
  }

  to {
    opacity: 1;
	left: -930px;
  }
}