* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s8_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s8_2 {
	position: absolute;
  left: 37px;
  top: 39px;
  width: 142px;
  height: 125px;
  	animation: pulse 0.5s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s8_3 {
	position: absolute;
  left: 528px;
  top: 362px;
  width: 167px;
  height: 172px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8_4 {
	position: absolute;
  left: 532px;
  top: 380px;
  width: 402px;
  height: 143px;
	animation: flashOut 0.2s 2;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
	z-index: 3;
}

.s8_5 {
	position: absolute;
  left: 394px;
  top: 559px;
  width: 301px;
  height: 168px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8_6 {
	position: absolute;
  left: 452px;
  top: 551px;
  width: 440px;
  height: 189px;
	animation: flashOut 0.2s 2;
	animation-delay: 1.5s;
	animation-fill-mode: backwards;
	z-index: 3;
}

.s8_7 {
	position: absolute;
  left: 329px;
  top: 361px;
  width: 168px;
  height: 301px;
	animation: zoomIn 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 10;
}

.s8_8 {
	position: absolute;
  left: 114px;
  top: 394px;
  width: 397px;
  height: 207px;
	animation: flashOut 0.2s 2;
	animation-delay: 2.5s;
	animation-fill-mode: backwards;
	z-index: 2;
}

.takeCover {
	position: absolute;
  left: 0px;
  top: 639px;
  width: 76px;
  height: 54px;
	z-index: 10;
}

.hit_1, .hit_2  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 76px;
  top: 444px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 223px;
  top: 505px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


.pdf_popup8 {
	position: absolute;
    left: 31px;
    top: 35px;
    width: 157px;
    height: 135px;
    z-index: 10;
}


@keyframes flashOut {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}